.add-room-type-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.add-room-type-modal {
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  max-width: 90%;   
  max-height: 90%;  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: auto;
  width: 900px;     
}

.add-room-type-modal h2 {
  margin-top: 30px;
  font-size: 30px;  
  color: #18304A;
  font-weight: 800;
}


.form-group {
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.add-room-type-modal input, textarea, select {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  height: 50px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.button-group {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px;
}
button.confirm-btn {
  background: #18304A;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  
}

button.confirm-btn:hover {
  background-color: #0056b3;
}

.cancel-btn {
  background-color: #ccc;
 color: #18304A;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button.confirm-btn, .cancel-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.amenities-list, .facilities-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.amenity-item, .facility-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 600;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #18304A;
  border-color: #18304A;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 3px;
  color: white;
  font-size: 16px;
}

label {
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
  color: #18304A;
}


.form-group1 label {
  font-size: 18px;
  font-weight: 600;
  color: #18304A;
  margin-top: 30px;
}

.description-textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 5px;
  box-sizing: border-box;
  height: 250px; 
  background-color: #fff;
  transition: border-color 0.3s ease;
  resize: vertical;
}

.required-asterisk {
  color: red;
  margin-left: 5px;
}

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
